/* RESPONSIVIDADE */
@media screen and (max-width:1150px){
    /* GERAL */
    .logo img{
        max-height: 30px;
    }

    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 30px;
    }

    /* BARRA DE NAVEGAÇÃO */
    .menu-desktop, .button-contato{
        display: none;
    }
    

    /* SECTION TOPO*/
    section .flex{
        gap: 50px;
    }

    .topo-do-site .txt-topo-site h1{
        font-size: 32px;
    }
    
    .topo-do-site .txt-topo-site h1{
        text-align: center;
    }
    
    .topo-do-site .txt-topo-site p{
        text-align: center;
        margin-top:30px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    
    .topo-do-site .img-topo-site img{
        width: 300px; 
        height: 300px; 
        border-radius: 50%;
    }

    /*SECTION CERTIFIÇÕES*/
    section.certificados{
        padding: 40px 8%;
    }

    section.certificados .flex{
        gap: auto;
        flex-wrap: nowrap;
    }

    .certificados .certificado-box{
        height: 620px;
        width:auto;
        padding: 10px 40px;
    }

    /* SECTION SOBRE */
    .sobre .txt-sobre h2{
        font-size: 22px;
    }

    .sobre .txt-sobre p{
        padding: 5px 2%;
        text-align:justify;
    }


    /* SECTION PORTFOLIO */
    section.portfolio{
        padding: 80px 1%;
    }

    .portfolio .img-port{
        width: 300px;
        height: 400px;
    }

    /* FOOTER */
    footer .flex{
        flex-direction:row;
    }

    footer .line-footer p{
        font-size: 14px;
        text-align: center;
    }
    
    footer .btn-social button{
        width: 35px;
        height: 35px;
    }


    header .btn-abrir-menu{
        display:block;
        overflow:visible;
    }

    /* PROJETO */
    .projeto .tecnologias-utilizadas h1{
        font-size: 20px;
    }

    .projeto .img-projeto{
        flex-direction: column;
        display: flex;
    }

    .projeto .img-projeto img{
        max-width: 100%;
        height: 160px;
    }
}