@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@500&display=swap');

/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background-color: black;
    font-family: "Poppins", Arial, sans-serif;
}

.hr{
    max-width: 80%;
    margin: 0 auto;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.button-contato button{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 30px;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    font-family: "Poppins";
}

.button-contato button:hover{
    transition: .2s;
    transform: scale(1.05);
    background-color: white;
    box-shadow: 0px 0px 5px white;
}

.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;

}

h2.titulo{
    color: white;
    font-size: 35px;
    text-align: center;
}

.logo img{
    height: 50px;
}

.center{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}

/* BARRA DE NAVEGAÇÃO PC */
header{
    padding: 15px 4%;
    background-color: #151515;
    font-family: "Roboto";
}

header > .interface{
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

header a{
    color: rgb(151, 151, 151);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

header .menu-desktop a:hover{
    color: white;
    transition: .2s;
    transform: scale(1.10);
}

header nav ul{
    list-style: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 30px;
}

.logo img{
    filter: invert(1);
}


/* BARRA DE NAVEGAÇÃO (MOBILE) */
header .btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu-mobile{
    background-color: #151515;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 6%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #0a0a0a;
}

.menu-mobile .btn-fechar{
    padding: 15px 6%;
}

.menu-mobile .btn-fechar i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.overlay-menu{
    background-color: #0000007c;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

/* SECTION TOPO*/
section.topo-do-site{
    padding: 30px 4%;
}

section .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site .interface{
    margin-top: 25px;
}

.topo-do-site .txt-topo-site h1{
    color: white;
    font-size: 40px;
}

.topo-do-site .txt-topo-site p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 125px;
}

.topo-do-site .img-topo-site img{
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
}

.topo-do-site .download-cv .cv{
    color: white;
    margin-inline: 20px;
    font-size: 30px;
}

.topo-do-site .download-cv .cv i:hover{
    transform: scale(1.10);
    transition: .2s;
    text-shadow: 0 0 10px #2b2b2b;
}

.topo-do-site .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
    margin-top: 50px;
}

.topo-do-site .btn-social button:hover{
    transform: scale(1.10);
    transition: .2s;
    box-shadow: 0 0 10px #808080;
}

/* SECTION PORTFOLIO */
section.portfolio{
    padding: 60px 4%;
}

section.portfolio .flex{
    flex-wrap: wrap;
    margin-top: 30px;
}

.web-projects {
    margin-top: 30px;
}

.software-projects {
    margin-top: 90px;
}

.web-projects, .software-projects {
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: oblique;
}

.flex a{
    text-decoration: none;
}

.img-port{
    width: 360px;
    max-width: 330px;
    height: 460px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    text-decoration: none;
}

.portfolio .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    border-radius: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

.flex p{
    color: white;
    margin-top: 6px;
}

/*SECTION CERTIFICAÇÕES*/
section.certificados{
    padding: 40px 4%;
}

section.certificados a{
    text-decoration: none;
}

section.certificados .flex{
    gap: 25px 100px;
    flex-wrap: wrap;
}

.certificados .certificado-box{
    color: white;
    padding: 10px 40px;
    height: 500px;
    width: 400px;
    border:0.5rem  double #DAA520;
    border-radius: 25px;
    margin-top: 50px;
}

.certificados .certificado-box:hover{
    transition: .2s;
    box-shadow: 0 0 10px #DAA520;
}

.certificados .certificado-box .icons-top{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.certificados .icons-top .i-certificado{
    color:#DAA520;
    font-size: 60px;
}

.certificados .icons-top .i-acesso{
    color:#ffffff;
    font-size: 20px;
    transition: .2s;
}

.certificados .icons-top a:hover{
    transform: scale(1.20);
    transition: .1s;
}

.certificados .certificado-box h3{
    font-size: 22px;
    margin: 10px 0;
}

.certificados .certificado-box ul li{
    margin-top: 10px;
    font-size: 15px;
}

/* SECTION SOBRE */
section.sobre{
    padding: 20px 4%;
}

.sobre .txt-sobre{
    color: white;
    margin-top: 20px;
}

.sobre .txt-sobre h2{
    text-align: center;
}

.sobre .txt-sobre p{
    padding: 5px 20%;
    text-align: justify;
}

.sobre .txt-experiencia{
    color: white;
    margin-top: 20px;
    text-align: center;
   
}

.sobre .txt-formacao{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.sobre .txt-idioma{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.sobre .txt-idioma ul{
    list-style: none;
}

.sobre .txt-skills{
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre .txt-skills ul{
    list-style: none;
    text-align: center;
}

.sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 30px 10px;
}

.sobre .btn-social button:hover{
    transform: scale(1.10);
    transition: .2s;
    box-shadow: 0 0 10px #808080;
}


/* SECTION FORMULARIO */
section.formulario{
    padding: 60px 4%;
}

.formulario h2{
    margin-bottom: 20px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #151515;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: "Roboto";
}

form textarea{
    height: 200px;
}

form input::placeholder{
    color: #a1a1a1;
}

form input:focus,form textarea:focus{
    color: white;
    box-shadow: 0px 0px 5px 0px;
}

form .btn-enviar{
    margin-top: 8px;
    text-align: center;
}

form .btn-enviar button{
    border: none;
    padding: 5% 10%;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 216, 216);
    border-radius: 50px;
    font-family: "Poppins";
}

.btn-enviar button:disabled{
    cursor: not-allowed;
    background-color:#0a0a0a;
}


/* FOOTER */
footer{
    padding: 10px 4%;
    background-color: #151515;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 15px 0;
}

.borda{
    border-top: 2px solid white;
}

footer .btn-social{
    margin: 0px;
}

footer .btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 3px;
}

footer .line-footer p i{
    color: white;
    font-size: 20px;
    text-align: center;
}

footer .line-footer p a{
    color: white;
}

/* PROJETO */
section .projeto{
    padding: 10px 4%;
}

.projeto h2{
    padding-bottom: 30px;
}

.projeto .img-projeto{
    text-align: center;
}

.projeto .img-projeto a{
    backface-visibility: hidden;
}

.projeto .img-projeto img{
    border-radius: 25px;
    max-width: 85%;
    cursor: pointer;
    opacity: 80%;
    margin: 20px 0px;
    transition: 1s;
}

.projeto .img-projeto a{
    background-size: hidden;
    background-color: transparent;
}

.projeto img:hover{
    transition: 1s;
    transform: scale(1.05);
    opacity: 100%;
}

.projeto .detalhes{
    margin-top: 20px;
    color: white;
}

.projeto .detalhes p{
    text-align: justify;
}

.projeto .tecnologias-utilizadas{
    margin-top: 30px;
}

.projeto .tecnologias-utilizadas h1{
    color: white;
    text-align: center;
}

.tecnologias-utilizadas .tec-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;  
    flex-wrap: wrap;
}

.tecnologias-utilizadas .tec-icons i{
    font-size: 60px;
    margin: 0 25px;
    text-align: center;
}

.tecnologias-utilizadas .tec-icons i h4{
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
    letter-spacing: 5px;
}

.projeto .btn-acessar{
    text-align: center;
    margin-top: 30px;
}

.projeto .btn-acessar button{
    background-color: rgb(216, 216, 216);
    border: none;
    border-radius: 25px;
    padding: 15px 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins' ,Arial, Helvetica, sans-serif;
}